h4 About us
p.
  We are three college students in the University of Iceland. This is our final project for the course Web programming for the
  fall semester of 2015, taught by Ólafur Sverrir Kjartansson. This webpage was built using the Express webapp generator utilising 
  node.js. The map was made using the official google maps API and the earthqauke data comes from APIS. 
  Plugins used are jQuery, ion.Rangeslider, moment.js and stickyNavbar.
ul
  li 
    a(href='http://expressjs.com/') Express
  li 
    a(href='http://nodejs.com/') Node.js
  li 
    a(href='https://developers.google.com/maps/?hl=en') Google maps API
  li 
    a(href='http://apis.is/') APIS
  li 
    a(href='https://jquery.com/') jQuery
  li 
    a(href='https://github.com/IonDen/ion.rangeSlider') ion.Rangeslider
  li 
    a(href='http://momentjs.com/') Moment.js
  li 
    a(href='http://www.jozefbutko.com/stickynavbar/') Sticky Navbar 
p Egill Ian Guðmundsson Rodriguez
p Oddgeir Páll Georgsson
p Stefán Carl Peiser
