// Bootstrap script
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src='../public/javascripts/frontjavascript.js')
script(src='../bower_components/moment/min/moment.min.js')
script(src='../bower_components/ion.rangeslider/js/ion.rangeSlider.js')
script(src="../public/javascripts/sliders.js")
