h4 Icelandic Geology
p.
	The geology of Iceland is unique and of particular interest to geologists. Iceland lies on the divergent boundary between 
	the Eurasian plate and the North American plate. It also lies above a hotspot, the Iceland plume, which is believed to have 
	caused the formation of Iceland itself, the island first appearing over the ocean surface about 16 to 18 million years ago. 
	The result is an island characterised by repeated volcanism and geothermal phenomena such as geysers.

.extraIcelandGeo
	p.
		According to the plume model, the source of Icelandic volcanism lies deep beneath the center of the island. The earliest volcanic 
		rocks attributed to the plume are found on both sides of the Atlantic. Their ages have been determined to lie between 58 and 64 million 
		years. This coincides with the opening of the north Atlantic in the late Paleocene and early Eocene, which has led to suggestions that 
		the arrival of the plume was linked to, and has perhaps contributed to the breakup of the North Atlantic continent. In the framework of 
		the plume hypothesis, the volcanism was caused by the flow of hot plume material initially beneath thick continental lithosphere and then 
		beneath the lithosphere of the growing ocean basin as rifting proceeded. The exact position of the plume at that time is a matter of disagreement 
		between scientists, but was probably beneath central Greenland, as is whether the plume is thought to have 
		ascended from the deep mantle only at that time or whether it is much older and also responsible for the old volcanism in northern Greenland, 
		the Ellesmere Island Volcanics on Ellesmere Island, and in the Arctic Ocean (Alpha Ridge).
	p.
		As the northern Atlantic opened to the east of Greenland during the Eocene, North America and Eurasia drifted apart; the Mid-Atlantic Ridge 
		formed as an oceanic spreading center and a part of the submarine volcanic system of mid-oceanic ridges. The initial plume head may have been 
		several thousand kilometers in diameter and it erupted volcanic rocks on both sides of the present ocean basin to produce the North Atlantic 
		Igneous Province. Upon further opening of the ocean and plate drift, the plume and the mid-Atlantic Ridge are postulated to have approached 
		one another, and finally met. The excess magmatism that accompanied the transition from flood volcanism on Greenland, Ireland and Norway to 
		present-day Icelandic activity was the result of ascent of the hot mantle source beneath progressively thinning lithosphere, according to the 
		plume model, or a postulated unusually productive part of the mid-ocean ridge system.
	p.
		An extinct ridge exists in western Iceland, leading to the theory that the plume has shifted east with time. The oldest crust of Iceland itself 
		is more than 20 million years old and was formed at an old, now extinct oceanic spreading center in the western fjord (Vestfirðir) region. The 
		westward movement of the plates and the ridge above the plume and the strong thermal anomaly of the latter caused this old spreading center to 
		starve 15 million years ago and lead to the formation of a new one in the area of today's peninsulas Skagi and Snæfellsnes; in the latter there 
		is still some activity in the form of the Snæfellsjökull volcano. The spreading center, and hence the main activity, have shifted eastward again 
		7–9 million years ago, however, and formed the current volcanic zones in the southwest (WVZ; Reykjanes–Hofsjökull–Vatnajökull) and northeast (NVZ; 
		Vatnajökull–Tjörnes). Presently, a slow decrease of the activity in the WVZ takes place, while the volcanic zone in the southeast (Katla–Vatnajökull), 
		which was initiated 3 million years ago, develops. The reorganisation of the plate boundaries in Iceland has also been attributed to microplate tectonics.
p.extraIcelandGeoToggle More