doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Seismic map of Iceland
    link(rel='stylesheet', href="../public/stylesheets/style.css")
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/stylesheets/normalize.css')
    link(rel='stylesheet', href='../public/stylesheets/ion.rangeSlider.css')
    link(rel='stylesheet', href='../public/stylesheets/IORHTML5.css')
    link(rel='stylesheet', href='../bower_components/stickyNavbar.js/animate.min.css')
    
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
  body
    .bg1
      
      include ./indexScreen.jade
      
      include ./navBar.jade
    
    #mapJump
    .bg2
      .container 
        .col-md-12
          .row
            .content
              #mapSection.scrollto
                include ./map.jade
                
              #earthquakeSection.scrollto
                include ./earthquakes.jade
                
              #icelandSection.scrollto
                include ./iceland.jade
                
              #icelandGeoSection.scrollto
                include ./icelandgeo.jade
              
              #aboutSection
                include ./about.jade
              #aboutScroll.scrollto
            
       
    // Adds footer containing CDN connections and local scripts      
    include ./footer.jade
