doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Amateur Geologist Federation
    link(rel='stylesheet', href="../public/stylesheets/style.css")
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/ion.rangeSlider/css/normalize.css')
    link(rel='stylesheet', href='../bower_components/ion.rangeSlider/css/ion.rangeSlider.css')
    link(rel='stylesheet', href='../bower_components/ion.rangeSlider/css/ion.rangeslider.skinHTML5.css')
  body
    // Jquery script
    .main-body
    
      .container 
        .col-md-12
          .row
            .content
              // Section containing navigation menu and banner
              include ./bannerAndNav.jade
              
              block content        
    // Adds footer containing CDN connections and local scripts      
    include ./footer.jade
