.mapViewport
    .mapTitle
        h1 The Map
        
    #map
        script(src="../public/javascripts/map.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOFizGF7LrYOyNztioh9k0sL3cODbd18&callback=initMap&libraries=geometry,visualization" async defer)
    
    .sliders
        p(class='slider-text') Determine the magnitude of displayed earthquakes
        #slider-size
        p(class='slider-text') Determine the time period of displayed earthquakes
        #slider-time
        
#mapSelector.scrollto  

.table-responsive
    table#checkers
      tr
        td
          label(for'checkbox')
            input(type='checkbox')#markerCheckbox
            | Marker
        td 
          | Place markers where each earthquacke occured. The markers are identical but on 
          br
          | click will display information about their respective earthquake.
      tr
        td
          label(for'checkbox')
            input(type='checkbox')#circleCheckbox
            | Circles
        td 
          | Places circles where each earthquake occured. The size of the circle is proportionate 
          br
          | to the size of the earthquake and so is the intensity of the colour.
      tr
        td
          label(for'checkbox')
            input(type='checkbox')#heatCheckbox
            | Heatmap
        td 
          | Produces a heatmap that shows whether earthquakes a frequent 
          br
          | and/or of great magnitude on each location.