extends layout

// Page containing map
block content
  h4 Seismic map of Iceland
        
  h1 Map here, plx
  
  #map
  
  p.
    label(for='size') Size ($0.5 increments):
    input(
      type='text'
      id='size'
      readonly
    )
  #slider-size
  
  script(src="../public/map.js")
  script(src="../public/sliders.js")
  script(src="//code.jquery.com/jquery-1.10.2.js")
  script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOFizGF7LrYOyNztioh9k0sL3cODbd18&callback=initMap" async defer)
