#header.header
	nav#nav
		ul
			li
				a(href='/#') Home
			li
				a(href='/#mapJump') Map
			li
				a(href='/#earthquakeSection') Earthquakes
			li
				a(href='/#icelandSection') Iceland
			li
				a(href='/#icelandGeoSection') Geology
			li
				a(href='/#aboutSection') About us
