/*
//==============
// HTML AND BODY
//==============
*/

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background: url('../../img/seljalandsfoss.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

/*
//==============
// GENERIC STUFF
//==============
*/

a {
  color: #00B7FF;
  font-family: 'Oswald', sans-serif;
}

/*
//=======
// LAYOUT
//=======
*/

.container {
  height: 100%;
}

.col-md-12 {
  height: 100%;
}

.row {
  height: 100%;
}

.content {
  height: 100%;
  background: rgba(255,255,255,0.7);
}

/*
//===========
// INDEX PAGE
//===========
*/

/* INDEX SCREEN */

.siteTitleAlignHor {
  height: 100vh;
  min-width: 100%;
  position: relative;
  
  display: table;
  text-align: center;
}

.siteTitleAlignVert {
  display: table-cell;
  vertical-align: middle;
  
  color: whitesmoke;
  font-size: 2em;
  font-family: 'Oswald', Helvetica, sans-serif;
  text-shadow: 3px 3px darkgray;
}

.siteTitle {
  border: 10px solid whitesmoke;
  display: inline-block;
  padding: 50px;
  background: rgba(200,200,200,0.4);
}


/* MAP */
.mapTitle {
  padding: 1.5em;
  
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 1.5em;
}

.mapSection {
  margin-bottom: 25vh;
}

#map {
  height: 600px;
  width: 100%;
}

/* SLIDERS */
.sliders {
  padding: 10px;
  background: rgba(255,255,255,0.5);
}

p.slider-text {
  text-align: center;
  font-size: 2em;
}

/* TABLE */
table#checkers {
  display: table;
  font-size: 1.2em;
  margin: 20px auto 20px auto;
  border-spacing: 30px;
  border-collapse: separate;
}

#checkers td {
  padding: 5px;
}

td:hover {
  border-radius: 5px;
  padding: 5px;
  background: rgba(255,255,255,0.5);
}

/* ABOUT US */
.aboutSection {
  padding: 10px;
}

.aboutSection > h4 {
  padding: 1.5em;
  
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 3em;
}