/*
//==============
// HTML AND BODY
//==============
*/

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

/*
//===========
// BACKGROUND
//===========
*/

.bg1 {
  height: 100vh;
  background: url('../../img/seljalandsfoss.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  height: 100%;
  background: url('../../img/skogafoss.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
//===============
// NAVIGATION BAR
//===============
*/

#header {
  width: 100%;
  display: block;
  padding: 20px;
  position: relative;
  background: lightgray;
  height: 10vh;
  top: 0px;
}

#nav {
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#nav li {
  margin-right: 0;
  display: inline;
}

#nav a {
  text-decoration: none;
  margin: 0;
  padding: 10px 15px 10px 15px;
  color: darkslategray;
  font-family: 'Oswald', Helvetica, sans-serif; 
}

#nav a:hover {
  text-decoration: underline;
}

.active {
  color: #fff !important;
  text-decoration: underline !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*
//=======
// LAYOUT
//=======
*/

.content {
  height: 100%;
  background: rgba(255,255,255,0.7);
}

/*
//===========
// INDEX PAGE
//===========
*/

/* INDEX SCREEN */

.siteTitleAlignHor {
  height: 90vh;
  min-width: 100%;
  position: relative;
  
  display: table;
  text-align: center;
}

.siteTitleAlignVert {
  display: table-cell;
  vertical-align: middle;
  
  color: whitesmoke;
  font-size: 2em;
  font-family: 'Oswald', Helvetica, sans-serif;
}

.siteTitle {
  border: 10px solid whitesmoke;
  display: inline-block;
  padding: 50px;
  background: rgba(200,200,200,0.5);
}

.siteTitle h1 {
  text-shadow: 3px 3px darkgray;
}

.siteTitle p {
  text-shadow: 2px 2px darkgray;
}


/* MAP */
.mapViewport {
  height: 100vh;
}

.mapTitle {
  padding: 1.5em;
  
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 1.5em;
}

#mapSection {
  margin-bottom: 10vh;
}

#map {
  height: 600px;
  width: 100%;
}

/* SLIDERS */
.sliders {
  padding: 10px;
  background: rgba(255,255,255,0.5);
}

p.slider-text {
  text-align: center;
  font-size: 2em;
}

/* TABLE */
table#checkers {
  display: table;
  font-size: 1.2em;
  margin: 20px auto 20px auto;
  border-spacing: 30px;
  border-collapse: separate;
}

#checkers td {
  padding: 5px;
}

td:hover {
  border-radius: 5px;
  padding: 5px;
  background: rgba(255,255,255,0.5);
}

/* ABOUT US */
#aboutSection {
  padding: 10px;
  height: 100vh;
}

#aboutSection h4 {
  padding: 20px;
  
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 3em;
}